<div class="sidebar">

<h3 class="text-center mt-3">

Admin Panel

</h3>

<ul>

<li routerLink="/admin-dashboard">

🏠 Dashboard

</li>

<li routerLink="/admin-customers">
    <i class="fas fa-users"></i>
    Customer Management
</li>

<li routerLink="/admin-profiles">

📄 Profiles

</li>

<li routerLink="/admin-interests">

❤️ Interests

</li>

<li routerLink="/admin-chat">

💬 Chats

</li>

<li routerLink="/admin-notifications">

🔔 Notifications

</li>

<li routerLink="/admin-reports">

📊 Reports

</li>

</ul>

</div>