<div class="sidebar">

  <div class="logo">
    <h3>Matrimony</h3>
  </div>

  <ul>

    <li routerLink="/customer-dashboard" routerLinkActive="active">
      <i class="fas fa-home"></i>
      Dashboard
    </li>

    <li routerLink="/search-profiles" routerLinkActive="active">
      <i class="fas fa-search"></i>
      Search Profiles
    </li>

    <li routerLink="/mutual-matches" routerLinkActive="active">
      <i class="fas fa-heart"></i>
      Mutual Matches
    </li>

    <li routerLink="/sent-interests" routerLinkActive="active">
      <i class="fas fa-paper-plane"></i>
      Sent Interests
    </li>

    <li routerLink="/received-interests" routerLinkActive="active">
      <i class="fas fa-envelope"></i>
      Received Interests
    </li>

    <li routerLink="/chat" routerLinkActive="active">
      <i class="fas fa-comments"></i>
      Chat
    </li>

    <li routerLink="/notifications" routerLinkActive="active">
      <i class="fas fa-bell"></i>
      Notifications
    </li>

    <li routerLink="/create-profile" routerLinkActive="active">
      <i class="fas fa-user-edit"></i>
      Edit Profile
    </li>

    <li routerLink="/my-profile" routerLinkActive="active">
      <i class="fas fa-user"></i>
      My Profile
    </li>

    <li routerLink="/biodata" routerLinkActive="active">
      <i class="fas fa-file-pdf"></i>
      Biodata
    </li>

  </ul>

</div>