<div class="sidebar">

  <div class="logo">

    <h3>Matrimony</h3>

  </div>

  <ul>

    <li routerLink="/customer-dashboard">

      <i class="fas fa-home"></i>

      Dashboard

    </li>

    <li routerLink="/create-profile">

      <i class="fas fa-user-plus"></i>

      Create Profile

    </li>

    <li routerLink="/my-profile">

      <i class="fas fa-user"></i>

      My Profile

    </li>

    <li routerLink="/search-partner">

      <i class="fas fa-search"></i>

      Search Partner

    </li>

    <li routerLink="/sent-interests">

      <i class="fas fa-paper-plane"></i>

      Sent Interests

    </li>

    <li routerLink="/received-interests">

      <i class="fas fa-heart"></i>

      Received Interests

    </li>

    <li routerLink="/biodata">

      <i class="fas fa-file-pdf"></i>

      Biodata

    </li>

<li>
      <a 
      routerLink="/search-profiles"
      class="btn btn-success">

      Search Profiles
      </a>
</li>

<li>
  
</li>



  </ul>

</div>